#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  background-color: white;
  height: 10ch;
  width: 5ch;
  margin: 1ch 0.2ch;
  color: black;
  border-radius: 0.2ch;
  font-size: large;
}

.card-row {
  display: flex;
}

.score-list {
  text-align: left;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
