#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  background-color: white;
  height: 10ch;
  width: 5ch;
  margin: 1ch 0.2ch;
  color: black;
  border-radius: 0.2ch;
  font-size: large;
  user-select: none;
  max-width: 19vw;
}

.card.clickable:hover {
  outline: 2px solid red;
}

.card-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.score-list {
  text-align: left;
}

.score-box {
  display: flex;
  flex-direction: column;
  margin-left: 2ch;
  width: 120px;
}

.total-score-box {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 20px;
  height: 100px;
}

.total-score-box > div:last-child {
  font-size: 3em;
}

.play-area {
  display: flex;
  gap: 3ch;
  flex-wrap: wrap;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  position: fixed;
  bottom: 0;
  margin-top: 30px;
  background-color: rgb(69, 80, 90);
  width: 100vw;
}
